NGC 5

Dwita Alya - FTDS RMT24

This Non Graded Challenge was created to evaluate the concept of Data Wrangling in SQL  with the aim of:

1.Able to perform Data Definition Language (DDL) to create a table based on the information obtained.

2.Able to use the SELECT, FROM, JOIN and GROUP BY keywords to get data from a certain column.

install dulu psycopg2-nya kalau belum ada disini:

In [1]:
%pip install psycopg2

Requirement already satisfied: psycopg2 in /Users/ita/Applications/anaconda3/lib/python3.11/site-packages (2.9.7)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import psycopg2 as ps

Disini buat connect ke db:

In [2]:
conn = ps.connect(
    host = "localhost",
    port = 5432,
    dbname = "ngc_hacktiv8",
    user = "postgres",
    password = "postgres"
)

conn

In [3]:
cursor = conn.cursor()

Create Table Customers dulu:

In [4]:
cursor.execute(query='''
    CREATE TABLE IF NOT EXISTS "Customers" (
        "customer_id" serial PRIMARY KEY,
        "customer_name" text,
        "city" text
    );
''')

Insert data di table Customers:

In [6]:
cursor.execute(query='''
    INSERT INTO "Customers" (customer_name, city)
    VALUES
        ('John Doe', 'New York'),
        ('Jane Smith',  'Los Angeles'),
        ('David Johnson', 'Chicago');
''')

Munculin data dari table Customers:

In [7]:
cursor.execute(query='''
    SELECT * 
    FROM "Customers";
''')

result = cursor.fetchall()

for row in result:
    print(row)

(1, 'John Doe', 'New York')
(2, 'Jane Smith', 'Los Angeles')
(3, 'David Johnson', 'Chicago')

Create Table Orders:

In [5]:
cursor.execute(query='''
    CREATE TABLE IF NOT EXISTS "Orders" (
        "order_id" serial PRIMARY KEY,
        "customer_id" int,
        "order_date" date,
        "total_amount" decimal,
        FOREIGN KEY (customer_id)
            REFERENCES "Customers" (customer_id)
    );
''')

INSERT data di table Orders:

In [8]:
cursor.execute(query='''
    INSERT INTO "Orders" (customer_id, order_date, total_amount)
    VALUES
        (1, '2022-01-10', 100),
        (1, '2022-02-15', 150),
        (2, '2022-03-20', 200),
        (3, '2022-04-25', 50);
''')

Memunculkan data dari table Orders:

In [9]:
cursor.execute(query='''
    SELECT * 
    FROM "Orders";
''')

result = cursor.fetchall()

for row in result:
    print(row)

(1, 1, datetime.date(2022, 1, 10), Decimal('100'))
(2, 1, datetime.date(2022, 2, 15), Decimal('150'))
(3, 2, datetime.date(2022, 3, 20), Decimal('200'))
(4, 3, datetime.date(2022, 4, 25), Decimal('50'))

JOIN Table Customers dan Orders, munculin customer_name sama total ordernya pake function COUNT:

In [4]:
cursor.execute(query='''
    SELECT c.customer_name, COUNT(o.customer_id) AS total_orders
    FROM "Customers" c
    INNER JOIN "Orders" o ON o.customer_id = c.customer_id
    GROUP BY c.customer_name;
''')

result = cursor.fetchall()

for row in result:
    print(row)

('John Doe', 2)
('David Johnson', 1)
('Jane Smith', 1)

In [5]:
conn.commit()

In [6]:
if cursor:
        cursor.close()
if conn:
    conn.close()